.main-container {
    display: block;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.search-bar {
    margin-left: 5%;
}

.login-link {
    margin-left: 5%;
}

.bag-link {
    margin-left: 5%;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#bag-item-count {
    text-decoration: solid;
    color: red;
}